apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 798373536376.dkr.ecr.us-east-1.amazonaws.com/ai_app/backend
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
