
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Poppins:wght@400;500;600&display=swap');


@import "tailwindcss";


body, html {
  font-family: "Roboto Flex", "Poppins", sans-serif !important;
}